.review-bg{
    background-image: url(https://cdn.shopify.com/s/files/1/1692/8885/files/slider1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    
}

.add-review form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-review form input {
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}
.add-review form textarea{
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px; 
}